<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_entry</title>
</head>
<body>
    {% extends 'learning_logs/base.html' %}
    {% block content %}
        <p><a class="btn  btn-lg mt-1" href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a></p>
        <p>Edit entry:</p>
        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {{form.as_div}}
            <button class="btn btn-primary btn-lg mt-1" name="submit">Save changes</button>
        </form>
    {% endblock content %}
</body>
</html>