<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
    {% extends 'Blog/base.html' %}

    {% block page_header %}
        <h1>Blogs</h1>
    {% endblock page_header %}

    {% block content %}
        <ul class="list-group border-bottom pb-2 mb-4">
            {% for blog in blogs %}
                <li class="list-group-item border-0">
                    <a class="btn btn-lg mt-1" href="{% url 'Blog:blog' blog.id %}"> {{ blog.text }} </a>
                </li>
            {% empty %}
                <li class="list-group-item border-0">No Blogs have been added yet.</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-lg mt-1" href="{% url 'Blog:new_blog' %}">Add a new Blog</a>
    {% endblock content %}
</body>
</html>