<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    {% extends 'Blog/base.html' %}

    {% block page_header %}
        <h1>{{blog.text}}</h1>
    {% endblock page_header %}

    {% block content %}
        <p>
            <a class="btn btn-primary btn-lg mt-1" href="{% url 'Blog:new_blogarticle' blog.id %}">Add a new Blog Articles</a>
        </p>

        {% for blogarticle in blogarticles %}
            <div class="card mb-3">
                <h4 class="card-header">
                    {{blogarticle.date_added|date:'M d,Y H:i'}}
                    <small>
                        <a class="btn btn-primary btn-lg mt-1" href="{% url 'Blog:edit_blogarticle' blogarticle.id %}">Edit Blog Articles</a>
                    </small>
                </h4>

                <div class="card-body">{{blogarticle.text|linebreaks}}</div>
            </div>
        {% empty %}
            <p>There are no Blog articles for this topic yet.</p>
        {% endfor %}


    {% endblock content %}
</body>
</html>