
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    {% extends 'Blog/base.html' %}
    {% block page_header %}
        <div class="p-3 mb-4 bg-light border rounded-3">
            <div class="container-fluid py4">
                <h1 class="display-3">欢迎来到我的Blog！！</h1>
                <p class="lead">
                    在这里你可以创建任何你想要创建的栏目，并在任意栏目下创建、编辑、发布你想要分享的内容~
                </p>
                <a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">Register &raquo;</a>
            </div>
        </div>
    {% endblock page_header %}
</body>
</html>